<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">GUGEL 2019</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Tentang</a></li>
      <li><a href="#">Data Induk</a></li>
      <li><a href="#">Data Meninggal</a></li>
      <li><a href="#">Daftar</a></li>
      <li><a href="#">Masuk</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Tentang</a></li>
      <li><a href="#">Data Induk</a></li>
      <li><a href="#">Data Meninggal</a></li>
      <li><a href="#">Daftar</a></li>
      <li><a href="#">Masuk</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>