a.navbar-brand {
    color: #ffffff !important;
}

a.nav-link {
    color: #ffffff !important;
    text-align: center;
}

.navbar-dark .navbar-toggler {
    border: none;
    border-color: none !important;
    color: none !important;
}







/* desktop version */
@media (min-width: 992px) {}