<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


  <!-- content -->

  <% include ../partials/body.ejs %>

  <!-- end content -->



















  <% include ../partials/footer.ejs %>
</body>

</html>